p.leading {
  color: limegreen;
}

html {
  font-size: 16px;
}

p {
  font-size: 0.8em;
}

* {
  /* border: 1px solid black; */
  padding: 0.5em;
  box-sizing: border-box;
}

#stronger {
  border: 1px solid black;
  display: block;
  width: 300px;
  color: blue;
}
