main {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main figure {
  border: solid 1px black;
  border-radius: 1em;
  padding: 2em;
  /* width: 100px; */
}

img {
  width: 100%;
  /* display: none; */
}
