* {
  box-sizing: border-box;
}

body {
  background-color: #fff7ec;
  font-size: 24px;
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b30000;
  font-family: sans-serif;
}

header {
  border-bottom: solid 1px #fc8d59;
  nav {
    font-size: 0.9em;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline;
      }
    }
  }
}

main {
}

footer {
  border-top: solid 1px #fc8d59;
}

a {
  text-decoration: none;
  color: #fc8d59;
}

figure {
  border: solid 1px #fc8d59;
  border-radius: 1em;
  padding: 3em;
  margin-left: 0;
  margin-right: 0;

  figcaption {
    margin-top: 0.5em;
    text-align: center;
  }
}
